* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Quicksand;
}

:root {
  --bvGreen: #369e93;
  --bvBrown: #707070;
  --bvYellow: #fcfbf7;
}

@media (max-width: 767px) {
  .header {
    align-items: center;
    background-color: var(--bvGreen);
    display: flex;
    justify-content: flex-end;
    height: 46px;
    width: 100%;
  }
  .header p {
    color: var(--bvYellow);
    margin: 10px;
  }
  .hero {
    align-items: center;
    background-color: var(--bvBrown);
    display: flex;
    flex-direction: column;
    height: 70%;
    width: 100%;
  }
  .hero img {
    margin-top: 30px;
    width: 55%;
  }
  .hero ul {
    margin: 30px auto;
  }
  .hero li {
    color: var(--bvYellow);
    font-size: 1.5rem;
    list-style: none;
    text-align: center;
  }
  .main {
    width: 100%;
    margin: 30px auto;
  }

  .main-card-container {
    width: 70%;
    margin: 0 auto;
  }
  .main-card-1 {
    background-image: url("../img/chocopai.jpeg");
    background-size: cover;
    height: 250px;
  }
  .main-card-2 {
    background-image: url("../img/burger.png");
    background-size: cover;
    height: 250px;
  }
  .main-card-3 {
    background-image: url("../img/torta2.png");
    background-size: cover;
    height: 250px;
  }

  .footer-card {
    align-items: center;
    background-color: var(--bvGreen);
    bottom: 0px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    display: flex;
    justify-content: center;
    height: 47px;
    margin-bottom: 20px;
    width: 100%;
    position: relative;
  }

  .footer-p {
    color: var(--bvYellow);
    font-size: 1.3rem;
    font-weight: bold;
  }

  .footer {
    align-items: center;
    background-color: var(--bvGreen);
    color: var(--bvYellow);
    display: flex;
    flex-direction: column;
    height: 60%;
    padding: 15px;
  }

  .social-media {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5px;
  }

  .footer img {
    width: 30%;
    margin: 5px 15px;
  }
  /*  */
}

@media (min-width: 768px) {
  .header {
    align-items: center;
    background-color: var(--bvGreen);
    display: flex;
    justify-content: flex-end;
    height: 76px;
    width: 100%;
  }
  .header p {
    color: var(--bvYellow);
    font-size: 2rem;
    margin: 10px;
  }
  .hero {
    align-items: center;
    background-color: var(--bvBrown);
    display: flex;
    flex-direction: column;
    height: 70%;
    width: 100%;
  }
  .hero img {
    margin-top: 30px;
    width: 55%;
  }
  .hero ul {
    margin: 30px auto;
  }
  .hero li {
    color: var(--bvYellow);
    font-size: 2.5rem;
    list-style: none;
    text-align: center;
  }
  .main {
    width: 100%;
    margin: 30px auto;
  }

  .main-card-container {
    width: 70%;
    margin: 0 auto;
  }
  .main-card-1 {
    background-image: url("../img/chocopai.jpeg");
    background-size: cover;
    height: 450px;
  }
  .main-card-2 {
    background-image: url("../img/burger.png");
    background-size: cover;
    height: 450px;
  }
  .main-card-3 {
    background-image: url("../img/torta2.png");
    background-size: cover;
    height: 450px;
  }

  .footer-card {
    align-items: center;
    background-color: var(--bvGreen);
    bottom: 0px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    display: flex;
    justify-content: center;
    height: 87px;
    margin-bottom: 20px;
    width: 100%;
    position: relative;
  }

  .footer-p {
    color: var(--bvYellow);
    font-size: 2rem;
    font-weight: bold;
  }

  .footer {
    align-items: center;
    background-color: var(--bvGreen);
    color: var(--bvYellow);
    display: flex;
    flex-direction: column;
    height: 60%;
    padding: 15px;
  }

  .social-media {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5px;
  }

  .footer img {
    width: 30%;
    margin: 5px 15px;
  }
  /*  */
}
