* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Quicksand;
}

:root {
  --bvGreen: #369e93;
  --bvBrown: #707070;
  --bvYellow: #fcfbf7;
}

.oculto {
  display: none;
}

.mostrar {
  display: block;
}

@media (max-width: 767px) {
  .header {
    align-items: center;
    background-color: var(--bvGreen);
    display: flex;
    justify-content: flex-end;
    height: 46px;
    width: 100%;
  }
  .header p {
    color: var(--bvYellow);
    padding: 15px;
  }
  .hero {
    align-items: center;
    background-color: var(--bvBrown);
    display: flex;
    flex-direction: column;
    height: 70%;
    width: 100%;
  }
  .hero img {
    margin-top: 30px;
    width: 55%;
  }
  .hero ul {
    margin: 30px auto;
  }
  .hero li {
    color: var(--bvYellow);
    font-size: 1.5rem;
    list-style: none;
    text-align: center;
  }
  .main {
    width: 100%;
    margin: 30px auto;
  }

  .main-card-container {
    width: 70%;
    margin: 0 auto;
  }
  .main-card-1 {
    background-image: url("../img/chocopai.jpeg");
    background-size: cover;
    height: 250px;
  }
  .main-card-2 {
    background-image: url("../img/burger.png");
    background-size: cover;
    height: 250px;
  }
  .main-card-3 {
    background-image: url("../img/torta2.png");
    background-size: cover;
    height: 250px;
  }

  .footer-card {
    align-items: center;
    background-color: var(--bvGreen);
    bottom: 0px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    display: flex;
    justify-content: center;
    height: 47px;
    margin-bottom: 20px;
    width: 100%;
    position: relative;
  }

  .footer-p {
    color: var(--bvYellow);
    font-size: 1.3rem;
    font-weight: bold;
  }

  .footer {
    align-items: center;
    background-color: var(--bvGreen);
    color: var(--bvYellow);
    display: flex;
    flex-direction: column;
    height: 60%;
    padding: 15px;
  }

  .social-media {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5px;
  }

  .footer img {
    width: 30%;
    margin: 5px 15px;
  }
  /*about-me  */
  .about-me {
    width: 100%;
  }

  .about-me-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 30px auto;
    width: 90%;
  }
  .about-me-container img {
    margin: 30px auto;
    width: 100%;
  }
  .presentacion {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .presentacion-nombre {
    margin: 0px auto 20px;
    text-align: center;
  }

  .presentacion-texto {
    line-height: 1.5em;
    text-align: center;
    margin-bottom: 20px;
  }

  .espiga {
    width: 250px;
  }
  /*  */
  /* contactMe */
  .contactMe {
    padding: 30px;
    width: 100%;
  }
  .contactMe-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .contactMe-text {
    margin-bottom: 20px;
  }
  .contactMe-text p {
    margin-bottom: 10px;
  }
  .question {
    font-size: 1.2rem;
    font-weight: bold;
  }

  .contactMe-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .contactMe-form label {
    font-size: 1rem;
    font-weight: bold;
  }
  .contactMe-form input,
  textarea {
    margin: 10px 0px 20px 0px;
    outline: none;
    padding: 3px;
    width: 100%;
  }
  /*  */
  /* Products */
  .filtros {
    background-color: var(--bvYellow);
    width: 100%;
  }
  .filtro-container {
    display: flex;
    flex-direction: column;
    height: 12vh;
    justify-content: center;
    margin: 0px auto;
    padding: 10px auto;
    width: 100%;
  }
  .filtros label {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 5px auto;
    text-align: center;
  }
  .filtros select {
    font-size: 1.1rem;
    margin: 5px auto;
    outline: none;
    width: 70%;
  }
  .myProducts {
    margin: 20px auto;
    width: 100%;
  }
  .productsContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .products {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px auto;
    width: 75%;
  }
  .individual {
    align-items: center;
    background-color: var(--bvYellow);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }

  .individual img {
    width: 100%;
  }

  .individual .producto-titulo {
    font-weight: bold;
    font-size: 1.2rem;
    margin: 10px auto;
  }

  .individual .producto-description {
    margin-bottom: 10px;
    padding: 0px 10px;
  }

  .individual .precio--producto {
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .individual button {
    background-color: chocolate;
    border: none;
    border-radius: 50px;
    color: aliceblue;
    margin-bottom: 5px;
    padding: 10px;
    width: 80%;
  }
  /*  */
}

@media (min-width: 768px) {
  .header {
    align-items: center;
    background-color: var(--bvGreen);
    display: flex;
    justify-content: flex-end;
    height: 76px;
    width: 100%;
  }
  .header p {
    color: var(--bvYellow);
    font-size: 2rem;
    margin-right: 50px;
  }
  .hero {
    align-items: center;
    background-color: var(--bvBrown);
    display: flex;
    flex-direction: column;
    height: 70%;
    width: 100%;
  }
  .hero img {
    margin-top: 30px;
    width: 55%;
  }
  .hero ul {
    margin: 30px auto;
  }
  .hero li {
    color: var(--bvYellow);
    font-size: 2.5rem;
    list-style: none;
    text-align: center;
  }
  .main {
    width: 100%;
    margin: 30px auto;
  }

  .main-card-container {
    width: 70%;
    margin: 0 auto;
  }
  .main-card-1 {
    background-image: url("../img/chocopai.jpeg");
    background-size: cover;
    height: 450px;
  }
  .main-card-2 {
    background-image: url("../img/burger.png");
    background-size: cover;
    height: 450px;
  }
  .main-card-3 {
    background-image: url("../img/torta2.png");
    background-size: cover;
    height: 450px;
  }
  /*about-me  */
  .about-me {
    width: 100%;
  }
  .about-me-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 30px auto;
    width: 90%;
  }
  .about-me-container img {
    margin: 30px auto;
  }

  .presentacion {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .presentacion-nombre {
    margin: 0px auto 20px;
  }

  .presentacion-texto {
    line-height: 1.5em;
    text-align: center;
    margin-bottom: 20px;
  }

  .espiga {
    width: 250px;
  }
  /*  */
  /* contactMe */
  .contactMe {
    padding: 30px;
    width: 100%;
  }
  .contactMe-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .contactMe-text {
    margin-bottom: 20px;
  }
  .contactMe-text p {
    margin-bottom: 10px;
  }
  .question {
    font-size: 1.2rem;
    font-weight: bold;
  }

  .contactMe-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .contactMe-form label {
    font-size: 1rem;
    font-weight: bold;
  }
  .contactMe-form input,
  textarea {
    margin: 10px 0px 20px 0px;
    outline: none;
    padding: 3px;
    width: 100%;
  }
  /*  */

  .footer-card {
    align-items: center;
    background-color: var(--bvGreen);
    bottom: 0px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    display: flex;
    justify-content: center;
    height: 87px;
    margin-bottom: 20px;
    width: 100%;
    position: relative;
  }

  .footer-p {
    color: var(--bvYellow);
    font-size: 2rem;
    font-weight: bold;
  }

  .footer {
    align-items: center;
    background-color: var(--bvGreen);
    color: var(--bvYellow);
    display: flex;
    flex-direction: column;
    height: 60%;
    padding: 15px;
    position: relative;
    bottom: 0px;
  }

  .social-media {
    border-radius: 55px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5px;
  }

  .footer img {
    width: 30%;
    margin: 5px 15px;
  }
  /*  */
  /* Products */
  .filtros {
    background-color: var(--bvYellow);
    width: 100%;
  }
  .filtro-container {
    display: flex;
    flex-direction: column;
    height: 12vh;
    justify-content: center;
    margin: 0px auto;
    padding: 10px auto;
    width: 100%;
  }
  .filtros label {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 5px auto;
    text-align: center;
  }
  .filtros select {
    font-size: 1.1rem;
    margin: 5px auto;
    outline: none;
    width: 70%;
  }
  .myProducts {
    margin: 20px auto;
    width: 100%;
  }
  .productsContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .products {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px auto;
    width: 75%;
  }
  .individual {
    align-items: center;
    background-color: var(--bvYellow);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }

  .individual img {
    width: 100%;
  }

  .individual .producto-titulo {
    font-weight: bold;
    font-size: 1.2rem;
    margin: 10px auto;
  }

  .individual .producto-description {
    margin-bottom: 10px;
    padding: 0px 10px;
  }

  .individual .precio--producto {
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .individual button {
    background-color: chocolate;
    border: none;
    border-radius: 50px;
    color: aliceblue;
    margin-bottom: 5px;
    padding: 10px;
    width: 80%;
  }
  /*  */
}

@media (min-width: 1023px) {
  .header {
    height: 5vh;
  }

  .header p {
    cursor: pointer;
    font-size: 1.5rem;
    margin-right: 20px;
  }
  .hero {
    align-items: center;
    align-content: center;
    display: flex;
    flex-direction: row;
    height: 20vh;
    justify-content: space-evenly;
    margin: 0 auto;
    width: 100%;
  }
  .hero img {
    margin: 0 0 30px 30px;
    width: 16%;
  }
  .hero ul {
    display: flex;
    justify-content: space-around;
    margin-right: 30px;
  }
  .hero li {
    cursor: pointer;
    font-size: 1.5em;
    margin: 0 10px;
  }

  .main {
    align-content: center;
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    height: 60vh;
    justify-content: space-around;
    width: 100%;
  }

  .main-card-container {
    width: 25%;
  }

  .main-card-1,
  .main-card-2,
  .main-card-3 {
    width: 25vw;
    height: 30vh;
  }

  .footer-card {
    width: 25vw;
  }

  #pedidosEspeciales {
    font-size: 1.5rem;
  }
  /*about-me  */
  .about-me {
    width: 100%;
  }
  .about-me-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 30px auto;
    width: 90%;
  }
  .about-me-container img {
    margin: 30px auto;
  }
  .presentacion {
    width: 50vw;
  }
  .presentacion-nombre {
    margin: 0px auto 20px;
    text-align: center;
  }

  .presentacion-texto {
    line-height: 1.5em;
    text-align: center;
    margin-bottom: 20px;
  }

  .espiga {
    width: 250px;
  }
  .footer {
    height: 12vh;
    flex-direction: row;
    position: fixed;
    bottom: 0px;
  }

  .social-media {
    border-radius: 55px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5px;
    width: 60vw;
  }

  .footer img {
    width: 10%;
    margin: 5px 15px;
  }
  #sigamosEnContacto {
    font-size: 1rem;
    text-align: right;
  }
  /*  */
  /* contactMe */

  .contactMe {
    margin-bottom: 0px;
  }
  .contactMe-container {
    display: flex;
    flex-direction: row;
  }
  .contactMe-text {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    justify-content: center;
    width: 40vw;
  }
  .contactMe-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60vw;
  }

  /*  */
  /* Products */
  .filtros {
    background-color: var(--bvYellow);
    width: 100%;
  }
  .filtro-container {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 8vh;
    justify-content: center;
    margin: 0px auto;
    width: 60%;
  }
  .filtros label {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 5px auto;
    text-align: center;
  }
  .filtros select {
    font-size: 1.1rem;
    margin: 5px auto;
    outline: none;
    width: 40%;
  }
  .myProducts {
    margin: 0px auto;
    height: auto;
    width: 100%;
  }
  .productsContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .products {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0px auto;
    width: 20%;
  }
  .individual {
    align-items: center;
    background-color: var(--bvYellow);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }

  .individual img {
    width: 100%;
  }

  .individual .producto-titulo {
    font-weight: bold;
    font-size: 1.2rem;
    margin: 10px auto;
  }

  .individual .producto-description {
    margin-bottom: 10px;
    padding: 0px 10px;
  }

  .individual .precio--producto {
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .individual button {
    background-color: chocolate;
    border: none;
    border-radius: 50px;
    color: aliceblue;
    margin-bottom: 5px;
    padding: 10px;
    width: 80%;
  }
  /*  */
}
@media (min-width: 1439px) {
  .hero img {
    margin: 0 0 30px 30px;
    width: 10%;
  }
  .hero ul {
    width: 60vw;
  }
  .hero li {
    font-size: 2.5rem;
  }

  .main-card-container {
    margin: 0px 0px;
    width: 25vw;
  }
  .main {
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 60vh;
    justify-content: space-around;
    width: 90%;
  }

  .footer {
    height: 10vh;
  }

  /* aboutMe */

  .presentacion {
    width: 70vw;
    padding: 40px;
  }
  /* aboutMe */
  .footer {
    bottom: 0px;
    position: absolute;
    width: 100%;
  }
  .social-media {
    width: 40vw;
    justify-content: start;
  }
  #sigamosEnContacto {
    font-size: 2rem;
    text-align: center;
    width: 20vw;
  }
  #greenHeart {
    position: absolute;
    right: 40px;
    width: 5vw;
  }
}
